*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class^="col-"]{
    background-color: pink;
    border: 1px solid black;
    text-align: center;
    font-size: 0.8em;
    height: 150px;
    line-height: 150px;
}

.nested{
    height: 140px;
    background-color:plum;
}

[class^="col"] > .row {
    padding: 7px;
}
